.about-page {
    animation: fadeIn 1s ease;
    margin: 0 .3rem 0 .3rem;
    border: 1px solid #b55322;
    border-bottom: none;
    flex: 1;
    position: relative;

    &-title {
        font-size: .18rem;
        background-color: white;
        color: #b55322;
        position: absolute;
        top: -.12rem;
        left: .16rem;
        letter-spacing: -0.01em;
        padding: 0 .1rem;
    }

    &-content {
        font-size: .16rem;
        padding: .18rem;
    }
}