.skill-page {
    animation: fadeIn 1s ease;
    margin: 0 .3rem 0 .3rem;
    border: 1px solid #25cc1d;
    border-bottom: none;
    flex: 1;
    position: relative;

    &-title {
        font-size: .18rem;
        background-color: white;
        color: #25cc1d;
        position: absolute;
        top: -.12rem;
        left: .4rem;
        letter-spacing: -0.01em;
        padding: 0 .1rem;
    }

    &-content {
        font-size: .16rem;
        padding: .5rem .3rem 0 .3rem;
        height: 100%;

        .tags-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .fr-tags-container,
            .br-tags-container,
            .cm-tags-container {
                display: flex;
                flex-wrap: wrap;
                gap: .06rem;
                margin-bottom: .2rem;
            }

            .tag {
                padding: 0 .07rem;
                font-size: .12rem;
                border-radius: .1rem;
                border: 1px solid;
                transition: background-color 0.18s, color 0.18s, border-color 0.18s;
                cursor: default;

                &-fr {
                    color: #875207;
                    border-color: rgba(222, 184, 135, 0.854);
                    background-color: #fffaf2;

                    &:hover {
                        color: #fff8ef;
                        border-color: #a8681e;
                        background-color: #a8681e;
                    }
                }

                &-br {
                    color: #3d5e03;
                    border-color: #9cd53a;
                    background-color: #f8ffeb;

                    &:hover {
                        color: #f4ffea;
                        border-color: #4e7a06;
                        background-color: #4e7a06;
                    }
                }

                &-cm {
                    color: #4e4e4e;
                    border-color: #a2a2a2;
                    background-color: #f9f9f9b7;

                    &:hover {
                        color: #f5f5f5;
                        border-color: #5e5e5e;
                        background-color: #5e5e5e;
                    }
                }
            }

            .comment {
                font-size: .12rem;
                margin-bottom: .5rem;

                .exploring {
                    margin-top: .1rem;

                    span {
                        position: relative;
                        cursor: default;

                        &:before {
                            content: '';
                            position: absolute;
                            inset: 0;
                            z-index: -1;
                            border-radius: 3px 5px 3px 5px;
                            clip-path: inset(0 100% 0 0);
                            transition: clip-path 0.3s ease;
                            background:
                                conic-gradient(at 0 100%, rgb(var(--mark-color) / 100%) 1%, #fff0 3%) no-repeat 0 0 / auto 120%,
                                conic-gradient(from 180deg at 100% 0, #fff0, rgb(var(--mark-color) / 100%) 1%, #fff0 4%) no-repeat 100% 100% / auto 120%,
                                linear-gradient(var(--mark-bg-angle), rgb(var(--mark-color) / 60%), rgb(var(--mark-color) / 20%) 75%, rgb(var(--mark-color) / 55%)) no-repeat center / auto;

                        }

                        &:hover:before {
                            clip-path: inset(0 0 0 0);
                        }
                    }

                    .mark-fox {
                        &:before {
                            rotate: 1deg;
                            scale: 1.1;
                            transform: skew(-5deg);
                            --mark-color: 247 155 42; //#f79b2a
                            --mark-bg-angle: -50deg;
                        }
                    }

                    .mark-grass {
                        &:before {
                            rotate: 1deg;
                            scale: 1.1;
                            transform: skew(-5deg);
                            --mark-color: 152 232 60; //#98e83c
                            --mark-bg-angle: 60deg;
                        }
                    }
                }
            }
        }

        .charts-container {
            margin-left: .15rem;
            height: 100%;

            .chart {
                width: 100%;
                height: 100%;
            }

            .cards-stack {
                position: relative;
                width: 92%;
                height: calc(100% - .5rem);
                min-height: 2rem;

                .card {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    min-height: 2rem;
                    inset: 0;
                    top: 0;
                    left: 0;
                    border-radius: .03rem;
                    border: 1px solid #f79b2a;
                    background: #fff;
                    transition:
                        transform 300ms ease,
                        opacity 300ms ease;
                }

            }
        }
    }
}