@import 'tailwindcss';

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-VariableFont_wght.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.woff2')
        format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* 
    theme color
    #ffffe0 light white
    #d98d36 fox orange
    #961f18 fox red
    #501523 dark brown
    #b55322 fox on white

    footer #fccf9a


    icon reference:

    https://copychar.cc/symbols/
    https://iconoir.com/

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Figtree', 'Inter', system-ui, sans-serif;
}

html {
    font-size: 100px;
    /* scrollbar-gutter: stable; */
    height: 100%;

    body,
    #root {
        height: 100%;
    }
}

/* ::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #ccc; border-radius: 99px; }
::-webkit-scrollbar-thumb:hover { background: #999; } */

p {
    margin: 0;
}
