.header {


    .icon {
        width: 25.5px;
        height: 25.5px;
        background-image: url('../../assets/fox.png');
        background-position: 0 0;
        background-size: auto 25.5px;
    }

    .playing {
        animation: play 0.8s steps(8) infinite;
    }

    @keyframes play {
        from {
            background-position: 0 0;
        }

        to {
            background-position: -204px 0;
        }
    }
}