.header {
    height: 1.6rem;
    font-size: .2rem;
    font-style: italic;
    line-height: .18rem;
    padding: .7rem .3rem 0 0;

    &-title {
        text-align: right;
        
        .span-container {
            margin: .05rem 0;
        }

        .slogan {
            font-size: .14rem;
        }
    }

}