.sidebar {
    height: 100%;
    font-size: .14rem;
    background-color: #fffaf5;
    display: flex;
    flex-direction: column;

    .empty-cell {
        width: 1.4rem;
        height: 1.6rem;
    }

    .sticky-container {
        position: sticky;
        top: .3rem;


        .fox-container {
            display: flex;
            justify-content: end;
            padding-right: .16rem;

            .icon {
                width: 25.5px;
                height: 25.5px;
                background-image: url('../../assets/fox.png');
                background-position: 0 0;
                background-size: auto 25.5px;
            }

            .playing {
                animation: play 0.8s steps(8);
            }

            @keyframes play {
                from {
                    background-position: 0 0;
                }

                to {
                    background-position: -204px 0;
                }
            }
        }

        .ul-container {
            padding-top: .03rem;
            padding-right: .16rem;

            .nav {
                li {
                    text-align: end;
                }
            }

            .active a {
                background-color: #b55322;
                color: #FFF;
                border-radius: .05rem;
                padding: .01rem .05rem .02rem .12rem;
                transition: all .3s ease-in-out;
                box-shadow: 2px 1px 2px 2px rgba(153, 10, 10, 0.2);
                position: relative;

                &::before {
                    position: absolute;
                    content: '♯' ;
                    left: 3px;
                }
            }

        }

        .icon-container {
            padding: 0 .16rem .1rem 0;
            display: flex;
            justify-content: end;
            column-gap: .06rem;
            margin-top: .16rem;
            // align-items: end;
            // flex: 1;

            .github {
                width: 89%;
                padding-top: .01rem;
            }
        }
    }
}