.footer {
    padding: .12rem;
    font-size: .12rem;
    color: #fff;
    opacity: 0.9;
    background-color: #f79b2a;
    border-top: 1.2px dashed black;

    .name {
        border-bottom: 1.2px dashed #ffffe0;     
        &:hover {
            border-style: solid;
        }
    }
}